.colorScheme {
  color: #1e2328;
  color: #f5b301;
  color: #f8fafc;
  color: #2a2e34;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1e2328;
  color: #f8fafc;
  font-family: "Roboto Flex", sans-serif;
  padding: 48px;
}

h1 {
  font-size: 36px;
  font-family: "Cal Sans", sans-serif;
  color: #f5b301;
}

ul {
  list-style: none;
}

.header {
  margin-bottom: 40px;
}

.item-form {
  background-color: #2a2e34;
  margin-bottom: 40px;
}

.item {
  font-size: 20px;
  line-height: 1.4;
  background-color: #2a2e34;
  margin-bottom: 16px;
  padding: 16px;
}

.value {
  font-style: italic;
}
