.colorScheme {
  color: #0f172a;
  color: #37bbf6;
  color: #f8fafc;
  color: #1e293b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0f172a;
  color: #f8fafc;
  font-family: "Roboto Flex", sans-serif;
  padding: 48px;
}

h1 {
  font-size: 36px;
  font-family: "Cal Sans", sans-serif;
  color: #37bbf6;
}

ul {
  list-style: none;
}

.header {
  margin-bottom: 40px;
}

.item-form {
  background-color: #1e293b;
  margin-bottom: 40px;
  text-align: center;
}

.item {
  font-size: 20px;
  line-height: 1.4;
  background-color: #1e293b;
  margin-bottom: 16px;
  padding: 16px;
}

.name {
  font-weight: bold;
}

.type {
  text-transform: uppercase;
}

.class {
  color: #37bbf6;
  font-weight: bold;
}

.value {
  font-style: italic;
}
