* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  user-select: none; /* Standard */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE/Edge */
}

.hidden {
  display: none !important;
}

.btn {
  background-color: #1e293b;
  color: #f8fafc;
  line-height: 1;
  border-radius: 10px;
  margin: 5px;
  padding: 12px;
  font-size: 17px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
  width: 100%;
}

.btn:hover {
  transform: scale(110%);
}

/*Content*/

body {
  font-family: "Roboto Flex", sans-serif;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0f172a;
  color: #f8fafc;
  cursor: default;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 800px;
}

/*Header Start */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  justify-content: flex-start;
  display: flex;
}

.logo img {
  width: 68px;
  height: auto;
}

.menu-icon {
  color: inherit;
}

.btn-menu {
  background: none;
  cursor: pointer;
}

/*Menu*/

.menu {
  background-color: #1e293b;
  display: grid;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.toggle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 8px;
  cursor: pointer;
  font-family: sans-serif;
  padding: 8px;
  margin: 5px;
  font-size: 14px;
  background-color: #374151;
  border-radius: 10px;
}

.toggle input {
  display: none;
}

.toggle p {
  flex: 1;
  margin: 0;
}

.slider {
  position: relative;
  width: 40px;
  height: 20px;
  background: #f8fafc;
  border-radius: 999px;
  transition: background 0.3s ease;
}

.slider::before {
  content: "";
  position: absolute;
  left: 2px;
  top: 2px;
  width: 16px;
  height: 16px;
  background: #374151;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

.toggle input:checked + .slider {
  background: #0ea5e9;
}

.toggle input:checked + .slider::before {
  transform: translateX(20px);
}

/*Form*/

.item-form {
  background-color: #1e293b;
  display: grid;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
.item-form input,
.item-form select {
  background-color: #374151;
  border: none;
  border-radius: 10px;
  font-size: 14px;
  color: inherit;
  font-family: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/*Net Worth */

.net-worth {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1e293b;
  border-radius: 10px;
}

.net-worth p {
  text-align: center;
  font-size: 24px;
  line-height: 36px;
  text-transform: uppercase;
}

.net-worth span {
  display: flex;
  justify-content: center;
  font-weight: bold;
  background-color: #374151;
  border-radius: 10px;
}

.positive span {
  color: #0ea5e9;
}

.negative span {
  color: #ef4444;
}

/*Items*/

.item {
  display: flex;
  align-items: center;
  background-color: #1e293b;
  margin-bottom: 16px;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 10px;
  font-size: 14px;
}

.name {
  color: inherit;
}

.type {
  color: inherit;
}

.class {
  color: inherit;
}

.liability {
  color: #ef4444;
  font-weight: bold;
}

.asset {
  color: #0ea5e9;

  font-weight: bold;
}

.value {
  color: inherit;
}

.btn-edit-item {
  color: inherit;
}

.btn-delete-item {
  color: inherit;
}

/* Media Queries */
@media (max-width: 768px) {
  .container {
    padding: 16px;
  }
}
