@import "tailwindcss";

@theme {
  --breakpoint-xxs: 30rem;
}

.btn-primary {
  @apply rounded-md text-center text-sm m-2 cursor-pointer bg-blue-700 text-slate-50 px-2 py-2 font-semibold transition duration-200 hover:brightness-80;
}

.form-primary {
  @apply text-sm mb-2 border-2 border-transparent w-full p-2 text-slate-950 bg-slate-50 rounded-md placeholder-slate-500;
}

.form-error {
  @apply border-red-400;
}

.result {
  @apply grid text-lg tracking-wider text-center bg-slate-900 text-slate-50 p-2 items-center rounded-2xl w-70 m-auto;
}

.loader {
  width: 32px;
  height: 32px;
  border: 3px solid #ccc;
  border-top: 3px solid #000;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  height: 100%;
}
