* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

.hidden {
  display: none !important;
}

.btn {
  background-color: #374151;
  color: #f8fafc;
  line-height: 1;
  border-radius: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
  width: 100%;
  padding: 8px;
}

.btn:hover {
  transform: scale(110%);
}

/*Content*/

body {
  font-family: "Roboto Flex", sans-serif;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0f172a;
  color: #f8fafc;
  cursor: default;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 1280px;
  margin: 16px;
}

/*Header */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 16px;
}

.logo {
  justify-content: flex-start;
  display: flex;
}

.btn-menu {
  background: none;
  cursor: pointer;
}

/*Menu*/

.menu {
  display: grid;
  gap: 16px;
  background-color: #1e293b;

  padding: 16px;
  border-radius: 10px;
  margin-bottom: 16px;
  width: 50%;
}

.toggle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  font-size: 14px;
  background-color: #374151;
  border-radius: 10px;
  width: 100%;
  padding: 8px 12px;
}

.toggle label {
  flex: 1;
  color: white;
}

.toggle input {
  display: none;
}

.toggle p {
  flex: 1;
  margin: 0;
}

.slider {
  position: relative;
  width: 40px;
  height: 20px;
  background: #f8fafc;
  border-radius: 999px;
  transition: background 0.3s ease;
}

.slider::before {
  content: "";
  position: absolute;
  left: 2px;
  top: 2px;
  width: 16px;
  height: 16px;
  background: #374151;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

.toggle input:checked + .slider {
  background: #0ea5e9;
}

.toggle input:checked + .slider::before {
  transform: translateX(20px);
}

.menu button {
  width: 90px;
  margin: auto;
}

/*Form*/

.item-form {
  display: grid;
  background-color: #1e293b;
  border-radius: 10px;
  width: 400px;
  padding: 16px;
  margin-bottom: 16px;
  width: 50%;
  gap: 16px;
}
.item-form input,
.item-form select {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  font-size: 14px;
  background-color: #374151;
  border-radius: 10px;
  width: 100%;
  padding: 8px 12px;
  background-color: #374151;
  border: none;
  border-radius: 10px;
  font-size: 14px;
  color: inherit;
  font-family: inherit;
}

.item-form-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

.item-form button {
  width: 30%;
  margin: 4px;
}

/*Stats */

.stats {
  display: flex;
  align-items: center;
  background-color: #1e293b;
  border-radius: 10px;
  padding: 16px;
  gap: 16px;
}

/*Items*/

.item-list {
  color: inherit;
  display: flex;
  flex-direction: column;
  gap: 16px;
  list-style: none;
  margin-top: 16px;
  margin-bottom: 16px;
  width: 100%;
}

.item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background-color: #1e293b;
  border-radius: 10px;
  font-size: 18px;
  padding: 16px;
  line-height: 1.5;
  gap: 6px;
}

.name {
  color: inherit;
  text-align: left;
}

.type {
  color: inherit;
}

.value {
  background-color: #374151;
  border-radius: 10px;
  padding: 16px;
  font-size: 24px;
  color: inherit;
}

.item-buttons {
  display: grid;
  gap: 10px;
  margin: 5px;
}

.btn-delete-item,
.btn-edit-item {
  color: inherit;
  width: 80px;
}

/* Footer */

.footer {
  text-align: center;
  font-size: 14px;
  color: #1e293b;
  margin: 10px;
}

@media (max-width: 850px) {
  .item-list {
    color: inherit;
    display: flex;
    flex-direction: column;
  }
}
